 
  header {

 
  background-color: rgb(252, 202, 145);
  background-image: url(../img/flaggor.jpeg);
  background-position: center;
   width: 100wh;
   height: 150px;
   display: flex;
   justify-content: center;
   color: rgb(0, 0, 0);
   border: solid 3px rgb(0, 0, 0);
   font-size:  100px;
   font-style: oblique;
   align-items: center;
   }

 
nav {
   background-color: rgb(178, 203, 250);
   height: 100px;
   display: flex;
   justify-content: center;
   border: solid 3px black;
   align-items: center;
   font-size: 30px;
   font-style: oblique;
 
}
#meny1 {
   background-color: rgb(11, 36, 148);
   height: 250px;
   width: 100vh;
   display: flex;
  justify-content: center;
  align-items: center;
   color: white;
  font-size: 30px;
  font-style: oblique;
 
 }
 
#meny2 {
   background-color: rgb(127, 165, 236);
   height: 250px;
   width: 100vh;
   font-size: 75px;
   align-items: center;
   color: white;
   display: flex;
   justify-content: center;
   color: white;
   font-style: oblique;
   background-image: url(../img/sushi.jpeg);
   background-size: 100% 100%;
}
 
#lador {
   display: flex;
justify-content:space-around;
border: solid 3px black;
 
 
}
 
#meny3 {
 
   background-color: rgb(23, 24, 112);
   height: 250px;
   width: 150px;
   flex: auto;
   font-size: 30px;
   align-items: center;
   color: black;
   display: flex;
   justify-content: center;
   color: white;
   font-style: oblique;
   padding: 10px;
}
 
#meny4 {
 
   background-color:rgb(178, 203, 250);
   height: 250px;
   width: 150px;
   flex: auto;
   font-size: 30px;
   align-items: center;
   color: black;
   display: flex;
   justify-content: center;
   font-style: oblique;
   padding: 10px;
 
}
 
#meny5 {
 
   background-color: rgb(23, 24, 112);
   height: 250px;
   width: 150px;
   flex: auto;
   font-size: 30px;
   align-items: center;
   color: black;
   display: flex;
   justify-content: center;
   color: white;
   font-style: oblique;
   padding: 10px;
}
 
#katt {
   display: flex;
   justify-content: first baseline;
   height: auto;
   width: auto;
   border: solid 3px black;
 
}
 
#take {
   background-color: rgb(146, 177, 245);
   width: 100wh;
   height: 150px;
   display: flex;
   justify-content: center;
   color: white;
   font-size:  100px;
   font-style: oblique;
   align-items: center;
 
}
 
#social {
   background-color: rgb(146, 177, 245);
   width: 100wh;
   height: 100px;
   font-size: 30px;
   display: flex;
   justify-content: center;
   color: black;
}
#logo {

width: 40px;
height: 40px;
margin-left: 10px;

}